* {
    box-sizing: border-box;
}

body {
    background: #f7d85c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    background: #458fe9;
    border: 10px solid #022546;
    color: #f7d85c;
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 25px;
}

#container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles for Cards created in JS file */

.pokemon {
    background: #458fe9;
    width: 175px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.img-container {
    background: #022546;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.name {
    color: #031c3b;
    margin-bottom: 0;
}
